# Sinusoid over flat surface configuration (hydrophobic)
# All length scale values, the unit is 100nm = 0.1microns

[domain]
[domain.grid]
pixel_size = 0.05
nb_pixels = 256

[problem]
[problem.upper]
shape = "sinusoid"
wavenumber = 4.0
amplitude = 0.2

[problem.lower]
shape = "flat"
constant = 0.0

[problem.capillary]
# It seems when this value is smaller than pixel_size,
# it can converge to less optimal or even weird patterns
interface_thickness = 0.05
contact_angle_degree = 135.0

[solver]
[solver.optimizer]
max_nb_iters = 1000
max_nb_loops = 50
tol_convergence = 1e-8
tol_constraints = 1e-8
init_penalty_weight = 0.1

[simulation]
[simulation.trajectory]
type = "approach_retract"
min_separation = 0.0
max_separation = 0.1
step_size = 0.01
round_trip = true

[simulation.constraint]
type = "constant_volume"
liquid_volume_percent = 25.0
